[submodule "zkhack/puzzle-gamma-ray"]
	path = zkhack/puzzle-gamma-ray
	url = git@github.com:thor314/puzzle-gamma-ray.git
[submodule "zkhack/puzzle-supervillain"]
	path = zkhack/puzzle-supervillain
	url = git@github.com:thor314/puzzle-supervillain.git
[submodule "zkhack/zkhack-1-puzzle-1"]
	path = zkhack/zkhack-1-puzzle-1
	url = git@github.com:thor314/zkhack-1-puzzle-1.git
[submodule "euler-rs-py"]
	path = euler-rs-py
	url = git@github.com:thor314/euler-rs-py.git
[submodule "rust-euler"]
	path = rust-euler
	url = git@github.com:thor314/rust-euler.git
[submodule "zkhack/puzzle-chaos-theory"]
	path = zkhack/puzzle-chaos-theory
	url = git@github.com:thor314/puzzle-chaos-theory.git
